//
// Gallery
// --------------------------------------------------


.gallery-container {
  padding: 10px;

  .gallery-item {
    padding: 10px;
    position: relative;
    display: block;
    min-height: 1px;
    float: left;
    width: percentage(1 / 5);

    h5 {
      padding: 10px;
      margin: 0;
      background-color: @gray-dark;
      color: @navbar-inverse-color;
      text-align: center;
      font-weight: @headings-font-weight;
      border-top: 1px solid @btn-default-border;
    }
    img {
      width: 100%;
    }

    .container-info-photo {
      position: relative;
      h5 {
        padding: 10px;
        margin: 0;
        background-color: @gray-dark;
        color: @navbar-inverse-color;
        text-align: center;
        font-weight: @headings-font-weight;
        border-top: 1px solid @btn-default-border;
      }
      img {
        width: 100%;
      }
      .container-photo {
        visibility: hidden;
      }
      &:hover {
        .container-photo {
          visibility: visible;
        }
      }
    }

    .container-info-photo  {
      .container-photo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: @gray-dark;
        padding: 9px 20px;
        border-bottom: 1px solid @white;

        a {
          i {
            padding-right: 10px;
          }
        }
        .icon-success {
          color: @btn-success-bg;
          opacity: 0.5;
          &:hover {
            opacity: 1;
            color: @btn-success-hover;
          }
        }
        .icon-warning {
          color: @btn-warning-bg;
          opacity: 0.5;
          &:hover {
            opacity: 1;
            color: @btn-warning-hover;
          }
        }
        .icon-danger {
          color: @btn-danger-bg;
          opacity: 0.5;
          &:hover {
            opacity: 1;
            color: @btn-danger-hover;
          }
        }
      }
    }
    .btn-group > .btn-group:first-child > .btn:last-child, .btn-group > .btn-group:first-child > .dropdown-toggle {
      border-left: none;
    }
    .gallery-add {
      width: 100%;
      height: 100%;
      background-color: @brand-success;

      a {
        color: @white;
        border: none;
        i {
          font-size: 50px;
          padding: 47% 41%;
        }
      }
    }
    .gallery-add-text {
      a {
        i {
          padding: 54% 41%;
        }
      }
    }
    @media (min-width: @screen-desktop) and (max-width: @screen-lg-desktop) {
      width: percentage(1 / 5);
    }
    @media (max-width: @screen-desktop) {
      width: percentage(1 / 4);
    }
    @media (max-width: @screen-tablet) {
      width: percentage(1 / 3);
    }
    @media (max-width: @screen-phone) {
      width: percentage(1 / 1);
    }
  }
}
.pictures-not-found {
  text-align: center;
}


