// General
.homestories-container {
  height: 900px;
}
.home-container {
  height: 100%;
  display: none;
  &.active {
    display: block;
  }
}
.homestories-index-img {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}
.homestories-img-index-1 {
  background-image: url('/assets/img/home/homestories-index1.jpg');
}
.homestories-img-index-2 {
  background-image: url('/assets/img/home/homestories-index2.jpg');
}
.homestories-img-index-3 {
  background-image: url('/assets/img/home/homestories-index3.jpg');
}
.homestories-img-index-4 {
  background-image: url('/assets/img/home/homestories-index4.jpg');
}

.homestories-container-home {
  background-image: url('/assets/img/home/homestories-home.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.homestories-container-about {
  background-image: url('/assets/img/about/homestories-about.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.homestories-container-press {
  background-image: url('/assets/img/press/homestories-press.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}









