//
// Navbars
// --------------------------------------------------

// Navbar-brand
.sidebar-button {
  padding-left: 24px;
  padding-right: 128px;
  position: relative;
  font-size: 22px;
  font-weight: 600;

  span {
    color: @brand-success;
  }
  img {
    height: 30px;
    margin-left: 12px;
  }
}

// Navbar-right
.navbar {
  border: none;
  margin-bottom: 0;

  .navbar-right > li {
    margin: 0;

    > a {
      color: @white;
      padding-top: 22px;

      img {
        height: 30px;
      }
      &:hover {
        background-color: @gray-lighter;
      }
    }
  }
}



// Give the tabs something to sit on
.tab-content {
  margin-top: 20px;
}










