html, body, #container { height: 100%; margin: 0; padding: 0; }

body {
  background: @body-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @homestories-gray;
  font-weight: 500;
  letter-spacing: 1px;
}

.content-wrapper {
  background: @content-bg;
  padding: 0 0 0;
}
